
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* https://colorhunt.co/palette/47347253629e87bac3d6f4ed*/
body{
    font-family: "Poppins", sans-serif;
    background-color: #473472;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    font-family: "Momo Trust Display", sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 200px;
    height: 100px;
    background: #53629E;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

input{
    display: none;
    gap: 10px;
}

#boton-mascota{
    font-family: "Poppins", sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 30px;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-ataque{
    background: #53629E;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: "Poppins", sans-serif;
}

#mensajes{
    width: 280px;
    background: #87BAC3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: none;
    color: #473472;
    font-family: "Poppins", sans-serif;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques div{
    justify-items: center;
}
/* El atajo del teclado para comentar las lineas seleccionadas es ALT+SHIFT+A */
/* orizontalmente centrados, seccion tipografia */