
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body{
     font-family: "Momo Trust Display", sans-serif;
     background-color: #473472;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 200px;
    height: 100px;
    background: #53629E;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
        padding: 10px;
}

input{
    display: none;
    gap: 10px;
}

#boton-mascota{
    width: 100px;
    height: 50px;
    background: hotpink;
    padding: 0px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid aquamarine;
}
/* color de fondo, borde width y hight, espaciado interno y externo */